{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    <title>Movies</title>
</head>
<body>
    <header>
      <h1><a href="{% url 'movie_list' %}">Full Stack Movies</a></h1>
    </header>
    {% block content %}
        <p>Looks like somebody forgot to define this block in child template</p>
    {% endblock content %}
    <footer></footer>
</body>
</html>